h1 {
    box-shadow: 10px 10px 18px rgb(10, 6, 6);
    width: 800px;
    margin: auto;
    margin-block-start: 50px;
    background-color: rgb(206, 17, 17);  
    font-family: Arial;
    color: rgb(243, 222, 222);
    font-size: 3cm;
    border-radius: 50px;
    cursor: pointer;
  }
  p {
    
    font-family:'Bungee Spice';
    color: rgb(22, 20, 34);
    font-size: 1.5cm;
  }
  img {
    align-content: center;
  }
  a{
    padding: 20px 100px 20px 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75in;
    background-color: rgb(206, 17, 17);
    border-radius: 50px;
   
    margin: 50px 50px 50px 50px;
  }
  a:hover{
    text-decoration: none;
    color: rgb(195, 196, 197);
    cursor:pointer;
    border: dashed rgb(5, 3, 1);
  }
  body{
    background-color: rgb(189, 184, 156);
    margin: 50px;
    text-align: center;
  }
  #hoga-mari{
    color: rgb(250, 248, 248);
    font-weight: bold;
    
  }
  #r-a-mama-moja{
    color: rgb(249, 252, 250);
    font-weight: bold;
    
  }
  img{
    width: 1000px;
    height: 1000px;
    border-radius: 50px;
    margin: 50px 50px 50px 50px;
  }
  #link{
   /*  border-radius: 141px; */
   padding: 0ch;
    text-decoration: none;
    background-color: rgb(189, 184, 156);
    width: 600px;
    height: 600px;
    border: none;
    margin: auto;
  
  }
  #link :hover{
    border: 10px solid rgb(5, 1, 1);
  }
  #H1{
    text-align:left;
    font-size: 3cm;
  }
  #ndBody{
   background-color: lightgrey;
  }
  